<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="POP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
		<section name="taskList" type="POP.TaskSection, POP"/>
 </configSections>
	
 <connectionStrings>
  <add name="team2" connectionString="Server=whyfi8888.ddns.net,11433;Uid=team2;Pwd=team2;Database=TEAM2" />
  <add name="localhost_TEAM2_Connection" connectionString="XpoProvider=MSSqlServer;data source=whyfi8888.ddns.net,11433;user id=team2;password=team2;initial catalog=TEAM2;Persist Security Info=true" />
	 <add name="local" connectionString="Server=127.0.0.1;Uid=sa;Pwd=1234;Database=Northwind" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <POP.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataSize" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="Handshake" serializeAs="String">
                <value>none</value>
            </setting>
        </POP.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="timer_Connect" value="1000"/>
		<add key="timer_KeepAlive" value="5000"/>
		<add key="timer_R_PLC" value="300"/>
	</appSettings>
	<taskList>
		<taskItem taskID="MAC_01" hostIP="127.0.0.1" hostPort="6666" remark="성형기계1"/>
		<taskItem taskID="MAC_02" hostIP="127.0.0.1" hostPort="6677" remark="성형기계2"/>
		<taskItem taskID="MAC_03" hostIP="127.0.0.1" hostPort="6688" remark="성형기계3"/>
		<taskItem taskID="MAC_04" hostIP="127.0.0.1" hostPort="8855" remark="건조기계1"/>
		<taskItem taskID="MAC_05" hostIP="127.0.0.1" hostPort="8866" remark="건조기계2"/>
		<taskItem taskID="MAC_06" hostIP="127.0.0.1" hostPort="8877" remark="건조기계3"/>
	</taskList>

</configuration>